<form action="/addcustomer" method="post">

     ID:<br>
     <input type="text" name="idCustomer" value="" ><br><br/>

     First Name:<br>
     <input type="text" name="FirstName" value=""><br><br/>

     Last Name:<br>
     <input type="text" name="LastName" value=""><br><br/>

     Email Address:<br>
     <input type="text" name="EmailAddress" value=""><br><br/>

     Sex:<br>
     <input type="text" name="Sex" value=""><br><br/>

     <input type="submit" value="Submit">

 </form>
 <a href="/customer" class="btn btn-outline btn-xl page-scroll"> Previous Page </a><br />
