<th>Customer Home Page: </th>
<div>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
      <th>Email Address</th>
      <th>Sex</th>
			<th>Delete</th>
			<th>Modify</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
		    <td>{{ user.0 }}</td>
		    <td>{{ user.1 }} </td>
		    <td>{{ user.2 }}</td>
        <td>{{ user.3 }}</td>
        <td>{{ user.4 }}</td>
		    <td>
			    <form method="post" action="/customer/delete?id={{ user.0 }}" style="display: inline;">
			    	<input type="submit" value="delete" />
			    </form>
		    </td>
		    <td>
		    <form method="post" action="/customer/modifyselect?id={{user.0}}" style="display: inline;">
		    	<input type="submit" value="modify" />
		    	</form>
		    </td>
	    </tr>
		{% endfor %}
	</tbody>
</table>
</div>
<a href="/customer/add"> Add Customer </a><br />
<a href="/staff_log_in" class="btn btn-outline btn-xl page-scroll"> Main Page </a><br />

