<div>
	<h1> Modify Customer</h1>
	<form id="editForm" method="post" action="/customer/modify?id={{id}}">
		<label> ID</label>
		<input type="text" name="idCustomer" value="{{idCustomer}}" id="idCustomer"/>
		<label> First Name</label>
		<input type="text" name="FirstName" value="{{FirstName}}" id="FirstName"/>
		<input type="submit" value = "Submit"/>
   <label> Last Name</label>
		<input type="text" name="LastName" value="{{LastName}}" id="LastName"/>
		<input type="submit" value = "Submit"/>
   <label> Email ID</label>
		<input type="text" name="EmailAddress" value="{{EmailAddress}}" id="EmailAddress"/>
		<input type="submit" value = "Submit"/>
   <label> Sex</label>
		<input type="text" name="Sex" value="{{Sex}}" id="Sex"/>
		<input type="submit" value = "Submit"/>

	</form>

</div>

 </form>
 <a href="/customer" class="btn btn-outline btn-xl page-scroll"> Previous Page </a><br />
