<table width="50%" border="1">
<center></center>
<tr>
<th colspan="6">What would you like to do? </th>
</tr>
<tr>

<td><a href="/search"> Search Showings </a></td>
</tr>
<tr>
<td><a href="/attend_showing"> Attend a Showing </a></td>
</tr>
<tr>
<td><a href="/rate_showing"> Rate Showings you Attended </a></td>
</tr>
<tr>
<td><a href="/cust_profile"> Log in to your profile </a></td>
</tr>
<tr>
<td><a href="/attend_show"> Attend </a></td>
</tr>
</table>
<br />
<br />
<a href="/" class="btn btn-outline btn-xl page-scroll"> Home Page </a><br />
