<h1>Search Movies </h1>

<form>
      By Genre: <br>
<input list="Genre">
<datalist id="Genre">
{% for user in users %}
  <option value={{ user.0 }}>
</datalist><br>
{% endfor %}

By Date: <br>
<input list="Date">
<datalist id="Date">
{% for user in users %}
  <option value={{ user.0 }}>
</datalist><br>
{% endfor %}


function myFunction() {
    var x = document.createElement("INPUT");
    x.setAttribute("type", "date");
    x.setAttribute("value", "2014-02-09");
    document.body.appendChild(x);
}
</script>
Start Date: <input list="StartDate">
<datalist id="Genre">
  <option value="Action">
  <option value="SciFi">
  <option value="Animated">
  <option value="Romance">
  <option value="Drama">
  <option value="Comedy">
</datalist>

End Date: <input list="EndDate">
<datalist id="Genre">
  <option value="Action">
  <option value="SciFi">
  <option value="Animated">
  <option value="Romance">
  <option value="Drama">
  <option value="Comedy">
</datalist>

<input type="text" name="date" value=""><br>
By Available Shows: <br>
<input type="checkbox" name="date" value=""><br>
By Movie: <br>
<input type="text" name="moviename" value=""><br>

<label> ID</label>
		<input type="text" name="idCustomer" value="{{idCustomer}}" id="idCustomer"/>

<input type="submit" value="Submit">
</form>






