<table width="50%" border="1">
<center></center>
<tr>
<th colspan="6">What would you like to do? </th>
</tr>
<tr>

<td><a href="/movie"> Movies </a></td>
</tr>
<tr>
<td><a href="/genre"> Genres  </a></td>
</tr>
<tr>
<td><a href="/room"> Rooms </a></td>
</tr>
<tr>
<td><a href="/showing"> Showings </a></td>
</tr>
<tr>
<td><a href="/customer"> Customer </a></td>
</tr>
<tr>
<td><a href="/attend"> Attend </a></td>

</tr>
</table>
<br />
<br />
<a href="/" class="btn btn-outline btn-xl page-scroll"> Home Page </a><br />